<div class="categories-line__wrapper" {% if categories_line_margin %} style="margin-top: 50px; margin-bottom: 50px" {% endif %}>
	<div class="container">
		<ul class="categories-line">
			<a href="/category/1" class="categories-line__link"><li class="categories-line__elem">Наука</li></a>
			<a href="/category/2" class="categories-line__link"><li class="categories-line__elem">Технологии</li></a>
			<a href="/category/3" class="categories-line__link"><li class="categories-line__elem">Дизайн</li></a>
			<a href="/category/4" class="categories-line__link"><li class="categories-line__elem">Игры</li></a>
			<a href="/category/5" class="categories-line__link"><li class="categories-line__elem">Музыка</li></a>
			<a href="/category/6" class="categories-line__link"><li class="categories-line__elem">Издательство</li></a>
			<a href="/category/7" class="categories-line__link"><li class="categories-line__elem">ПО и приложения</li></a>
		</ul>
	</div>
</div>