<section class="projects-slider-horizontal__wrapper">
	<div class="container">
		<h3 class="projects-slider-horizontal__main-title">@@title</h3>
		<div class="owl-carousel projects-slider-horizontal" id="@@id">

			<a href="#!">
				<div class="projects-slider-horizontal__card">
					<div class="projects-slider-horizontal__img__wrapper">
						<div class="projects-slider-horizontal__img"></div>
						<div class="progress-line__wrapper projects-slider-horizontal__progress-line__wrapper">
							<div class="progress-line projects-slider-horizontal__progress-line">
							</div>
						</div>
					</div>
					<h5 class="title-16 projects-slider-horizontal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
					<p class="text-14 projects-slider-horizontal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt laoreet odio, eu lobortis justo elementum aliquet.</p>
					<span class="text-12 projects-slider-horizontal__author">By <u>username</u></span>
				</div>
			</a>

			<a href="#!">
				<div class="projects-slider-horizontal__card">
					<div class="projects-slider-horizontal__img__wrapper">
						<div class="projects-slider-horizontal__img"></div>
						<div class="progress-line__wrapper projects-slider-horizontal__progress-line__wrapper">
							<div class="progress-line projects-slider-horizontal__progress-line">
							</div>
						</div>
					</div>
					<h5 class="title-16 projects-slider-horizontal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
					<p class="text-14 projects-slider-horizontal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt laoreet odio, eu lobortis justo elementum aliquet.</p>
					<span class="text-12 projects-slider-horizontal__author">By <u>username</u></span>
				</div>
			</a>

			<a href="#!">
				<div class="projects-slider-horizontal__card">
					<div class="projects-slider-horizontal__img__wrapper">
						<div class="projects-slider-horizontal__img"></div>
						<div class="progress-line__wrapper projects-slider-horizontal__progress-line__wrapper">
							<div class="progress-line projects-slider-horizontal__progress-line">
							</div>
						</div>
					</div>
					<h5 class="title-16 projects-slider-horizontal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
					<p class="text-14 projects-slider-horizontal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt laoreet odio, eu lobortis justo elementum aliquet.</p>
					<span class="text-12 projects-slider-horizontal__author">By <u>username</u></span>
				</div>
			</a>

			<a href="#!">
				<div class="projects-slider-horizontal__card">
					<div class="projects-slider-horizontal__img__wrapper">
						<div class="projects-slider-horizontal__img"></div>
						<div class="progress-line__wrapper projects-slider-horizontal__progress-line__wrapper">
							<div class="progress-line projects-slider-horizontal__progress-line">
							</div>
						</div>
					</div>
					<h5 class="title-16 projects-slider-horizontal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
					<p class="text-14 projects-slider-horizontal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt laoreet odio, eu lobortis justo elementum aliquet.</p>
					<span class="text-12 projects-slider-horizontal__author">By <u>username</u></span>
				</div>
			</a>

			<a href="#!">
				<div class="projects-slider-horizontal__card">
					<div class="projects-slider-horizontal__img__wrapper">
						<div class="projects-slider-horizontal__img"></div>
						<div class="progress-line__wrapper projects-slider-horizontal__progress-line__wrapper">
							<div class="progress-line projects-slider-horizontal__progress-line">
							</div>
						</div>
					</div>
					<h5 class="title-16 projects-slider-horizontal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
					<p class="text-14 projects-slider-horizontal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt laoreet odio, eu lobortis justo elementum aliquet.</p>
					<span class="text-12 projects-slider-horizontal__author">By <u>username</u></span>
				</div>
			</a>

			<a href="#!">
				<div class="projects-slider-horizontal__card">
					<div class="projects-slider-horizontal__img__wrapper">
						<div class="projects-slider-horizontal__img"></div>
						<div class="progress-line__wrapper projects-slider-horizontal__progress-line__wrapper">
							<div class="progress-line projects-slider-horizontal__progress-line">
							</div>
						</div>
					</div>
					<h5 class="title-16 projects-slider-horizontal__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
					<p class="text-14 projects-slider-horizontal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt laoreet odio, eu lobortis justo elementum aliquet.</p>
					<span class="text-12 projects-slider-horizontal__author">By <u>username</u></span>
				</div>
			</a>

		</div>
	</div>

	<script>
		try {
			carouselsArr.push('#@@id')
		} catch (e) {
		    let carouselsArr = ['#@@id']
		}
	</script>
</section>