<div class="welcome-block__wrapper">
	<div class="container relative">
		<div class="welcome-block">
			<a href="/category/all" class="accent-button__wrapper welcome-block__button__wrapper welcome-block__button-left">
				<div class="accent-button welcome-block__button">
					<span class="accent-button__text welcome-block__button__text">
						Исследовать
					</span>
				</div>
			</a>
			<a href="/create_project" class="accent-button__wrapper welcome-block__button__wrapper welcome-block__button-right">
				<div class="accent-button welcome-block__button">
					<span class="accent-button__text welcome-block__button__text">
						Создать проект
					</span>
				</div>
			</a>
		</div>
	</div>
</div>