<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="{{ url_for(static_path, filename='css/main.min.css') }}">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
	<title>{{ title }}</title>
</head>
<body>

	<div class="registration-window">
		<div class="registration-window__nav-wrapper">
			{% include '_nav-bar.html' %}
		</div>

		<main class="registration-window__content">
			<h3 class="title-24 registration-window__title">{{ title }}</h3>
			{% if error %}<span>{{ error }}</span>{% endif %}
			<form class="registration-window__form" method="post">
				{{ form.hidden_tag() }}
				{{ form.login(type="text",
					class="input registration-window__input",
					maxlength="100",
					placeholder="Логин") }}
				{% for error in form.login.errors %}
					{{ error }}
				{% endfor %}
				{{ form.email(type="email",
					class="input registration-window__input",
					maxlength="100",
					placeholder="Email") }}
				{% for error in form.email.errors %}
					{{ error }}
				{% endfor %}
				{{ form.password(type="password",
					class="input registration-window__input",
					maxlength="100",
					placeholder="Пароль") }}
				{% for error in form.password.errors %}
					{{ error }}
				{% endfor %}
				{{ form.password_repeat(class="input registration-window__input",
					maxlength="100",
					placeholder="Повторите пароль") }}
				{% for error in form.password_repeat.errors %}
					{{ error }}
				{% endfor %}
				{{ form.submit(class="dark-button registration-window__submit",
					type="submit",
					text="Зарегистрироваться") }}
			</form>
		</main>

		<div class="registration-window__footer-wrapper">
			{% set footer_extended = False %}
			{% include '_footer.html' %}
		</div>

	</div>

	<script>
		function fitSize() {
			document.querySelector(".registration-window").style.height = 
				Math.floor(document.documentElement.clientHeight) + "px";
		}

		fitSize();
		window.addEventListener('resize', fitSize);
	</script>

</body>
</html>